<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>基于深度学习的文案语音图片视频管理分析-视频矩阵系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">基于深度学习的文案语音图片视频管理分析-视频矩阵系统 视频质量评估表(videoqualityassessment)</h3>
        </div>
      </div>
      {% csrf_token %}





<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_qualitysckwkwore_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 质量评分 ******************** pie_v2***/ init_echart("echart_videoqualityassessment_qualitysckwkwore_pie_v2",'videoqualityassessment.qualitysckwkwore_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_qualitysckwkwore_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 质量评分 ******************** pie_v1***/ init_echart("echart_videoqualityassessment_qualitysckwkwore_pie_v1",'videoqualityassessment.qualitysckwkwore_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_qualitysckwkwore_pie" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 质量评分 ******************** pie***/ init_echart("echart_videoqualityassessment_qualitysckwkwore_pie",'videoqualityassessment.qualitysckwkwore_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoqualityassessment_qualitysckwkwore_line" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 质量评分 ******************** line***/ init_echart("echart_videoqualityassessment_qualitysckwkwore_line",'videoqualityassessment.qualitysckwkwore_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoqualityassessment_qualitysckwkwore_bar" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 质量评分 ******************** bar***/ init_echart("echart_videoqualityassessment_qualitysckwkwore_bar",'videoqualityassessment.qualitysckwkwore_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoqualityassessment_qualitysckwkwore_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 质量评分 ******************** bar_v1***/ init_echart("echart_videoqualityassessment_qualitysckwkwore_bar_v1",'videoqualityassessment.qualitysckwkwore_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_kwkwassessmenttime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 评估时间 ******************** pie_v2***/ init_echart("echart_videoqualityassessment_kwkwassessmenttime_pie_v2",'videoqualityassessment.kwkwassessmenttime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_kwkwassessmenttime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 评估时间 ******************** pie_v1***/ init_echart("echart_videoqualityassessment_kwkwassessmenttime_pie_v1",'videoqualityassessment.kwkwassessmenttime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_kwkwassessmenttime_pie" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 评估时间 ******************** pie***/ init_echart("echart_videoqualityassessment_kwkwassessmenttime_pie",'videoqualityassessment.kwkwassessmenttime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoqualityassessment_kwkwassessmenttime_line" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 评估时间 ******************** line***/ init_echart("echart_videoqualityassessment_kwkwassessmenttime_line",'videoqualityassessment.kwkwassessmenttime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoqualityassessment_kwkwassessmenttime_bar" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 评估时间 ******************** bar***/ init_echart("echart_videoqualityassessment_kwkwassessmenttime_bar",'videoqualityassessment.kwkwassessmenttime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoqualityassessment_kwkwassessmenttime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 评估时间 ******************** bar_v1***/ init_echart("echart_videoqualityassessment_kwkwassessmenttime_bar_v1",'videoqualityassessment.kwkwassessmenttime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_framerate_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 帧率 ******************** pie_v2***/ init_echart("echart_videoqualityassessment_framerate_pie_v2",'videoqualityassessment.framerate_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_framerate_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 帧率 ******************** pie_v1***/ init_echart("echart_videoqualityassessment_framerate_pie_v1",'videoqualityassessment.framerate_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_framerate_pie" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 帧率 ******************** pie***/ init_echart("echart_videoqualityassessment_framerate_pie",'videoqualityassessment.framerate_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoqualityassessment_framerate_line" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 帧率 ******************** line***/ init_echart("echart_videoqualityassessment_framerate_line",'videoqualityassessment.framerate_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoqualityassessment_framerate_bar" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 帧率 ******************** bar***/ init_echart("echart_videoqualityassessment_framerate_bar",'videoqualityassessment.framerate_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoqualityassessment_framerate_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 帧率 ******************** bar_v1***/ init_echart("echart_videoqualityassessment_framerate_bar_v1",'videoqualityassessment.framerate_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_resolution_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 分辨率 ******************** pie_v2***/ init_echart("echart_videoqualityassessment_resolution_pie_v2",'videoqualityassessment.resolution_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_resolution_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 分辨率 ******************** pie_v1***/ init_echart("echart_videoqualityassessment_resolution_pie_v1",'videoqualityassessment.resolution_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_resolution_pie" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 分辨率 ******************** pie***/ init_echart("echart_videoqualityassessment_resolution_pie",'videoqualityassessment.resolution_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoqualityassessment_resolution_line" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 分辨率 ******************** line***/ init_echart("echart_videoqualityassessment_resolution_line",'videoqualityassessment.resolution_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoqualityassessment_resolution_bar" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 分辨率 ******************** bar***/ init_echart("echart_videoqualityassessment_resolution_bar",'videoqualityassessment.resolution_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoqualityassessment_resolution_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 分辨率 ******************** bar_v1***/ init_echart("echart_videoqualityassessment_resolution_bar_v1",'videoqualityassessment.resolution_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_bitrate_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 比特率 ******************** pie_v2***/ init_echart("echart_videoqualityassessment_bitrate_pie_v2",'videoqualityassessment.bitrate_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_bitrate_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 比特率 ******************** pie_v1***/ init_echart("echart_videoqualityassessment_bitrate_pie_v1",'videoqualityassessment.bitrate_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_bitrate_pie" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 比特率 ******************** pie***/ init_echart("echart_videoqualityassessment_bitrate_pie",'videoqualityassessment.bitrate_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoqualityassessment_bitrate_line" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 比特率 ******************** line***/ init_echart("echart_videoqualityassessment_bitrate_line",'videoqualityassessment.bitrate_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoqualityassessment_bitrate_bar" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 比特率 ******************** bar***/ init_echart("echart_videoqualityassessment_bitrate_bar",'videoqualityassessment.bitrate_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoqualityassessment_bitrate_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 比特率 ******************** bar_v1***/ init_echart("echart_videoqualityassessment_bitrate_bar_v1",'videoqualityassessment.bitrate_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_encodkwkwingkwkwfkwkwormat_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 编码格式 ******************** pie_v2***/ init_echart("echart_videoqualityassessment_encodkwkwingkwkwfkwkwormat_pie_v2",'videoqualityassessment.encodkwkwingkwkwfkwkwormat_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_encodkwkwingkwkwfkwkwormat_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 编码格式 ******************** pie_v1***/ init_echart("echart_videoqualityassessment_encodkwkwingkwkwfkwkwormat_pie_v1",'videoqualityassessment.encodkwkwingkwkwfkwkwormat_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoqualityassessment_encodkwkwingkwkwfkwkwormat_pie" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 编码格式 ******************** pie***/ init_echart("echart_videoqualityassessment_encodkwkwingkwkwfkwkwormat_pie",'videoqualityassessment.encodkwkwingkwkwfkwkwormat_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoqualityassessment_encodkwkwingkwkwfkwkwormat_line" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 编码格式 ******************** line***/ init_echart("echart_videoqualityassessment_encodkwkwingkwkwfkwkwormat_line",'videoqualityassessment.encodkwkwingkwkwfkwkwormat_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoqualityassessment_encodkwkwingkwkwfkwkwormat_bar" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 编码格式 ******************** bar***/ init_echart("echart_videoqualityassessment_encodkwkwingkwkwfkwkwormat_bar",'videoqualityassessment.encodkwkwingkwkwfkwkwormat_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoqualityassessment_encodkwkwingkwkwfkwkwormat_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频质量评估表 编码格式 ******************** bar_v1***/ init_echart("echart_videoqualityassessment_encodkwkwingkwkwfkwkwormat_bar_v1",'videoqualityassessment.encodkwkwingkwkwfkwkwormat_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>









    </div>
  </body>
</html>
