<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>基于深度学习的文案语音图片视频管理分析-视频矩阵系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">基于深度学习的文案语音图片视频管理分析-视频矩阵系统 视频观看时长统计表(videoviewduration)</h3>
        </div>
      </div>
      {% csrf_token %}








<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_viewstarttime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看开始时间 ******************** pie_v2***/ init_echart("echart_videoviewduration_viewstarttime_pie_v2",'videoviewduration.viewstarttime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_viewstarttime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看开始时间 ******************** pie_v1***/ init_echart("echart_videoviewduration_viewstarttime_pie_v1",'videoviewduration.viewstarttime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_viewstarttime_pie" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看开始时间 ******************** pie***/ init_echart("echart_videoviewduration_viewstarttime_pie",'videoviewduration.viewstarttime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoviewduration_viewstarttime_line" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看开始时间 ******************** line***/ init_echart("echart_videoviewduration_viewstarttime_line",'videoviewduration.viewstarttime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoviewduration_viewstarttime_bar" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看开始时间 ******************** bar***/ init_echart("echart_videoviewduration_viewstarttime_bar",'videoviewduration.viewstarttime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoviewduration_viewstarttime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看开始时间 ******************** bar_v1***/ init_echart("echart_videoviewduration_viewstarttime_bar_v1",'videoviewduration.viewstarttime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_viewendtime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看结束时间 ******************** pie_v2***/ init_echart("echart_videoviewduration_viewendtime_pie_v2",'videoviewduration.viewendtime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_viewendtime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看结束时间 ******************** pie_v1***/ init_echart("echart_videoviewduration_viewendtime_pie_v1",'videoviewduration.viewendtime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_viewendtime_pie" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看结束时间 ******************** pie***/ init_echart("echart_videoviewduration_viewendtime_pie",'videoviewduration.viewendtime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoviewduration_viewendtime_line" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看结束时间 ******************** line***/ init_echart("echart_videoviewduration_viewendtime_line",'videoviewduration.viewendtime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoviewduration_viewendtime_bar" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看结束时间 ******************** bar***/ init_echart("echart_videoviewduration_viewendtime_bar",'videoviewduration.viewendtime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoviewduration_viewendtime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看结束时间 ******************** bar_v1***/ init_echart("echart_videoviewduration_viewendtime_bar_v1",'videoviewduration.viewendtime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_duration_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看时长秒 ******************** pie_v2***/ init_echart("echart_videoviewduration_duration_pie_v2",'videoviewduration.duration_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_duration_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看时长秒 ******************** pie_v1***/ init_echart("echart_videoviewduration_duration_pie_v1",'videoviewduration.duration_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_duration_pie" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看时长秒 ******************** pie***/ init_echart("echart_videoviewduration_duration_pie",'videoviewduration.duration_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoviewduration_duration_line" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看时长秒 ******************** line***/ init_echart("echart_videoviewduration_duration_line",'videoviewduration.duration_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoviewduration_duration_bar" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看时长秒 ******************** bar***/ init_echart("echart_videoviewduration_duration_bar",'videoviewduration.duration_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoviewduration_duration_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看时长秒 ******************** bar_v1***/ init_echart("echart_videoviewduration_duration_bar_v1",'videoviewduration.duration_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_devicetype_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 设备类型 ******************** pie_v2***/ init_echart("echart_videoviewduration_devicetype_pie_v2",'videoviewduration.devicetype_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_devicetype_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 设备类型 ******************** pie_v1***/ init_echart("echart_videoviewduration_devicetype_pie_v1",'videoviewduration.devicetype_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_devicetype_pie" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 设备类型 ******************** pie***/ init_echart("echart_videoviewduration_devicetype_pie",'videoviewduration.devicetype_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoviewduration_devicetype_line" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 设备类型 ******************** line***/ init_echart("echart_videoviewduration_devicetype_line",'videoviewduration.devicetype_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoviewduration_devicetype_bar" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 设备类型 ******************** bar***/ init_echart("echart_videoviewduration_devicetype_bar",'videoviewduration.devicetype_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoviewduration_devicetype_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 设备类型 ******************** bar_v1***/ init_echart("echart_videoviewduration_devicetype_bar_v1",'videoviewduration.devicetype_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_viewlocation_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看地点 ******************** pie_v2***/ init_echart("echart_videoviewduration_viewlocation_pie_v2",'videoviewduration.viewlocation_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_viewlocation_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看地点 ******************** pie_v1***/ init_echart("echart_videoviewduration_viewlocation_pie_v1",'videoviewduration.viewlocation_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_viewlocation_pie" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看地点 ******************** pie***/ init_echart("echart_videoviewduration_viewlocation_pie",'videoviewduration.viewlocation_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoviewduration_viewlocation_line" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看地点 ******************** line***/ init_echart("echart_videoviewduration_viewlocation_line",'videoviewduration.viewlocation_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoviewduration_viewlocation_bar" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看地点 ******************** bar***/ init_echart("echart_videoviewduration_viewlocation_bar",'videoviewduration.viewlocation_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoviewduration_viewlocation_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 观看地点 ******************** bar_v1***/ init_echart("echart_videoviewduration_viewlocation_bar_v1",'videoviewduration.viewlocation_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_netwkwkworktype_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 网络类型 ******************** pie_v2***/ init_echart("echart_videoviewduration_netwkwkworktype_pie_v2",'videoviewduration.netwkwkworktype_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_netwkwkworktype_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 网络类型 ******************** pie_v1***/ init_echart("echart_videoviewduration_netwkwkworktype_pie_v1",'videoviewduration.netwkwkworktype_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoviewduration_netwkwkworktype_pie" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 网络类型 ******************** pie***/ init_echart("echart_videoviewduration_netwkwkworktype_pie",'videoviewduration.netwkwkworktype_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoviewduration_netwkwkworktype_line" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 网络类型 ******************** line***/ init_echart("echart_videoviewduration_netwkwkworktype_line",'videoviewduration.netwkwkworktype_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoviewduration_netwkwkworktype_bar" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 网络类型 ******************** bar***/ init_echart("echart_videoviewduration_netwkwkworktype_bar",'videoviewduration.netwkwkworktype_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoviewduration_netwkwkworktype_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频观看时长统计表 网络类型 ******************** bar_v1***/ init_echart("echart_videoviewduration_netwkwkworktype_bar_v1",'videoviewduration.netwkwkworktype_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






    </div>
  </body>
</html>
