{% extends '../tp.html' %}

{% block title %}
用户权限表
{% endblock %}

{% block body %}
  <div class="my-container-margin">
    <div class="divider"></div>
    {% csrf_token %}
    <div class="section">
      <h4>用户权限表</h4>
      <div>
        <div class="row">
          
          {% if has_add %}
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalinsert" class="waves-effect waves-light btn">添加</button>
          {% endif %}
          <div class="divider"></div>
        
        
          
<div class="col-sm-10">
</div>
<div class="col-sm-2">
<a href="/config_visual/bi_tpuserpermkwkwission" target="_blank" class="waves-effect waves-light btn">
统计分析
</a>
</div>
        </div>  
        <div class="section">
          {% if record %}
            <h3>Empty Data</h3>
          {% else %}
          
<div class="row custom-form">
<form action="" method="get">


<div class="form-group">
<label for="userid">关联用户ID(userid)</label>
<select name="userid_search" id="userid_search">
<option value="">未选择</option>
{% for record in data_mc_userinfo_57999 %}
<option value="{{record.value}}">
<p>{{record.value}}:{{record.label }}</p>
</option>
{% endfor %}
</select>
</div>



<div class="form-group">
<label for="permkwkwissionid">关联权限ID(permkwkwissionid)</label>
<select name="permkwkwissionid_search" id="permkwkwissionid_search">
<option value="">未选择</option>
{% for record in data_mc_userpermkwkwission_58000 %}
<option value="{{record.value}}">
<p>{{record.value}}:{{record.label }}</p>
</option>
{% endfor %}
</select>
</div>



<div class="form-group">
<label for="rolename">角色名称(rolename)</label>
<input type="text" class="form-control" name="rolename_search" id="rolename_search">
</div>
</div>



<div class="form-group">
<label for="permkwkwissionname">权限名称(permkwkwissionname)</label>
<input type="text" class="form-control" name="permkwkwissionname_search" id="permkwkwissionname_search">
</div>
</div>










<div class="col-sm-2">
<button type="submit" class="btn btn-primary" >
<i class="fas fa-search">搜索</i>
</button>
<a type="reset" class="btn btn-default" href="/config_busi/userpermkwkwission">
<i class="fas fa-eraser">重置</i>
</a>
</div>
</form>

          </div>
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  
{% if mcauthfield_userid.mcauthview %}
<td>
关联用户ID
</td>
{% endif %}

{% if mcauthfield_permkwkwissionid.mcauthview %}
<td>
关联权限ID
</td>
{% endif %}

{% if mcauthfield_rolename.mcauthview %}
<td>
角色名称
</td>
{% endif %}

{% if mcauthfield_permkwkwissionname.mcauthview %}
<td>
权限名称
</td>
{% endif %}

{% if mcauthfield_createtime.mcauthview %}
<td>
创建时间
</td>
{% endif %}

{% if mcauthfield_updatetime.mcauthview %}
<td>
更新时间
</td>
{% endif %}

{% if mcauthfield_isactive.mcauthview %}
<td>
是否激活
</td>
{% endif %}

{% if mcauthfield_description.mcauthview %}
<td>
描述
</td>
{% endif %}
<th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for record in records %}
                  <tr>
                    
 {% if mcauthfield_userid.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.userid}}">
{{record.userid}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_permkwkwissionid.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.permkwkwissionid}}">
{{record.permkwkwissionid}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_rolename.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.rolename}}">
{{record.rolename}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_permkwkwissionname.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.permkwkwissionname}}">
{{record.permkwkwissionname}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_createtime.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.createtime}}">
{{record.createtime}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_updatetime.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.updatetime}}">
{{record.updatetime}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_isactive.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.isactive}}">
{{record.isactive}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_description.mcauthview %}
<td class="text-nowrap-cell">

{% if record.description %}
{{record.description.name}}
<p title="{{record.description}}">
{{record.description|truncatechars:20}}
</p>
{% endif %}

</td>
{% endif %}
 <td>
                      {% if has_upd %}
                        <button data-bs-data="{{ record.id }}" data-bs-toggle="modal" data-bs-target="#modalupdate">修改</button>
                      {% endif %}
                      {% if has_del %}
                        <button data-bs-data="{{ record.id }}" data-bs-toggle="modal" data-bs-target="#modalremove">删除</button>
                      {% endif %}
                      {% if has_view %}
                        <button data-bs-data="{{ record.id }}" data-bs-toggle="modal" data-bs-target="#modalpreview">查看</button>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block modal %}
  <!-- Modal Structure -->

  {% if has_add %}
    <div id="modalinsert" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">
              <h4>添加</h4>
            </div>
          </div>
          <div class="modal-body">
            <div class="custom-form">
              <form action="" method="post" enctype="multipart/form-data" class="col s12">
                <input type="text" name="optype" value="add" hidden />{% csrf_token %}<div class="">
        {% if mcauthfield_userid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="userid" class="form-label form-group">关联用户ID</label>

<select class="form-select form-select-lg mb-3" name="userid" id="userid" {% if not mcauthfield_userid.mcisblank %}required {% endif %} data-name="insert"> <option value="" selected>未选择</option> {% for record in data_mc_userinfo_57999 %} 
<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>
 {% endfor %}
</select>

</div>
        {% endif %}

        {% if mcauthfield_permkwkwissionid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="permkwkwissionid" class="form-label form-group">关联权限ID</label>

<select class="form-select form-select-lg mb-3" name="permkwkwissionid" id="permkwkwissionid" {% if not mcauthfield_permkwkwissionid.mcisblank %}required {% endif %} data-name="insert"> <option value="" selected>未选择</option> {% for record in data_mc_userpermkwkwission_58000 %} 
<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>
 {% endfor %}
</select>

</div>
        {% endif %}

        {% if mcauthfield_rolename.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="rolename" class="form-label form-group">角色名称</label>

<input type="text" class="form-control form-control-lg" name="rolename" id="rolename"{% if not mcauthfield_rolename.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_permkwkwissionname.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="permkwkwissionname" class="form-label form-group">权限名称</label>

<input type="text" class="form-control form-control-lg" name="permkwkwissionname" id="permkwkwissionname"{% if not mcauthfield_permkwkwissionname.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_createtime.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="createtime" class="form-label form-group">创建时间</label>

</div>
        {% endif %}

        {% if mcauthfield_updatetime.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="updatetime" class="form-label form-group">更新时间</label>

</div>
        {% endif %}

        {% if mcauthfield_isactive.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="isactive" class="form-label form-group">是否激活</label>

<select class="form-select form-select-lg mb-3" name="isactive" id="isactive" {% if not mcauthfield_isactive.mcisblank %}required {% endif %} data-name="insert">
<option value="True" selected >是</option>
<option value="False">否</option>
</select>

</div>
        {% endif %}

        {% if mcauthfield_description.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="description" class="form-label form-group">描述</label>

<textarea class="form-control form-control-lg" name="description" id="description" {% if not mcauthfield_description.mcisblank %}required {% endif %}data-name="insert"></textarea>

</div>
        {% endif %}
</div>
                <div class="modal-footer">
                  <button type="submit" class="modal-action modal-close btn-primary btn waves-effect waves-light">提交</button>
                  <button type="reset" class="modal-action modal-close btn-default btn waves-effect waves-light" data-bs-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if has_upd %}
    <div id="modalupdate" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">修改</div>
          </div>
          <div class="modal-body">
            <div class="custom-form">
              <form action="" method="post" enctype="multipart/form-data" class="col s12">
                <input type="text" name="optype" value="upd" hidden />{% csrf_token %}<input type="text" name="_id_upd" value="" data-name="update_id" hidden />
                <div class="">
           {% if mcauthfield_userid.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="userid_upd"
class="form-label form-group">
关联用户ID(userid)
</label>

<select class="form-select form-select-lg mb-3" name="userid"
id="userid_upd"
{% if not mcauthfield_userid.mcisblank %}
required
{% endif %}
{% if not mcauthfield_userid.mcauthchange %}
readonly
{% endif %}
data-name="update">
<option value="">未选择</option>
{% for record in data_mc_userinfo_57999 %}

<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>

{% endfor %}
</select>

</div>
        {% endif %}

           {% if mcauthfield_permkwkwissionid.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="permkwkwissionid_upd"
class="form-label form-group">
关联权限ID(permkwkwissionid)
</label>

<select class="form-select form-select-lg mb-3" name="permkwkwissionid"
id="permkwkwissionid_upd"
{% if not mcauthfield_permkwkwissionid.mcisblank %}
required
{% endif %}
{% if not mcauthfield_permkwkwissionid.mcauthchange %}
readonly
{% endif %}
data-name="update">
<option value="">未选择</option>
{% for record in data_mc_userpermkwkwission_58000 %}

<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>

{% endfor %}
</select>

</div>
        {% endif %}

           {% if mcauthfield_rolename.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="rolename_upd"
class="form-label form-group">
角色名称(rolename)
</label>

<input type="text" class="validate form-control form-control-lg"
name="rolename"
id="rolename_upd"
placeholder="角色名称"
{% if not mcauthfield_rolename.mcisblank %}
required
{% endif %}
{% if not mcauthfield_rolename.mcauthchange %}
readonly
{% endif %}
data-name="update">

</div>
        {% endif %}

           {% if mcauthfield_permkwkwissionname.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="permkwkwissionname_upd"
class="form-label form-group">
权限名称(permkwkwissionname)
</label>

<input type="text" class="validate form-control form-control-lg"
name="permkwkwissionname"
id="permkwkwissionname_upd"
placeholder="权限名称"
{% if not mcauthfield_permkwkwissionname.mcisblank %}
required
{% endif %}
{% if not mcauthfield_permkwkwissionname.mcauthchange %}
readonly
{% endif %}
data-name="update">

</div>
        {% endif %}

           {% if mcauthfield_createtime.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="createtime_upd"
class="form-label form-group">
创建时间(createtime)
</label>

</div>
        {% endif %}

           {% if mcauthfield_updatetime.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="updatetime_upd"
class="form-label form-group">
更新时间(updatetime)
</label>

</div>
        {% endif %}

           {% if mcauthfield_isactive.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="isactive_upd"
class="form-label form-group">
是否激活(isactive)
</label>

<select class="form-select form-select-lg mb-3" name="isactive"
id="isactive_upd"
{% if not mcauthfield_isactive.mcisblank %}
required
{% endif %}
{% if not mcauthfield_isactive.mcauthchange %}
readonly
{% endif %}
data-name="update">
<option value="True" selected>是</option>
<option value="False">否</option>
</select>

</div>
        {% endif %}

           {% if mcauthfield_description.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="description_upd"
class="form-label form-group">
描述(description)
</label>

<textarea type="text" class="validate form-control form-control-lg"
name="description"
id="description_upd"
placeholder="描述"
{% if not mcauthfield_description.mcisblank %}
required
{% endif %}
{% if not mcauthfield_description.mcauthchange %}
readonly
{% endif %}
data-name="update"></textarea>

</div>
        {% endif %}
</div>
                <div class="modal-footer">
                  <button type="submit" class="btn modal-action modal-close btn-primary waves-effect waves-light">提交</button>
                  <button type="reset" class="btn modal-action modal-close btn-default waves-effect waves-light" data-bs-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if has_del %}
    <div id="modalremove" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">删除</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>确认删除这条记录吗?</p>
          </div>
          <div class="modal-footer">
            <div class="row custom-form">
              <form action="" method="post" enctype="multipart/form-data" class="col s12">
                <input type="text" name="optype" value="del" hidden />{% csrf_token %}<input type="text" name="_id" value="" data-name="remove" hidden />

                <div class="modal-footer">
                  <button type="submit" class="btn modal-action modal-close btn-primary waves-effect waves-light">确认</button>
                  <button type="reset" class="btn modal-action modal-close btn-default waves-effect waves-light" data-bs-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if has_view %}
    <div id="modalpreview" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <h4>预览</h4>
          <div class="">
            
{% if mcauthfield_userid.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">关联用户ID</p>

<p id="userid_view">
{{record.userid|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_permkwkwissionid.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">关联权限ID</p>

<p id="permkwkwissionid_view">
{{record.permkwkwissionid|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_rolename.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">角色名称</p>

<p id="rolename_view">
{{record.rolename|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_permkwkwissionname.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">权限名称</p>

<p id="permkwkwissionname_view">
{{record.permkwkwissionname|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_createtime.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">创建时间</p>

<p id="createtime_view">
{{record.createtime|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_updatetime.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">更新时间</p>

<p id="updatetime_view">
{{record.updatetime|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_isactive.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">是否激活</p>

<p id="isactive_view">
{{record.isactive|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_description.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">描述</p>

<p id="description_view">
{{record.description|safe }}
</p>

</div>
{% endif %}
<div class="modal-footer">
              <button type="reset" class="btn modal-action modal-close btn-default waves-effect waves-light" data-bs-dismiss="modal">关闭</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block script-footer %}
<script>
  function myreset(){
window.location.href= "/config_busi/userpermkwkwission";
};
if (document.getElementById("modalupdate")){
document.getElementById("modalupdate").addEventListener("show.bs.modal",event=>{
let _id = event.relatedTarget.getAttribute('data-bs-data');
$("input[data-name=update_id]").val(_id);
$.ajax({
url: '/config_busi/userpermkwkwission',
method: 'post',
data: {optype:'get',_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value}, // JSON.stringify(data),
dataType: 'json',
success: resp => {

{% if mcauthfield_userid.mcauthview %}
$("#userid_upd").val(resp.ins.userid);
{% endif %}

{% if mcauthfield_permkwkwissionid.mcauthview %}
$("#permkwkwissionid_upd").val(resp.ins.permkwkwissionid);
{% endif %}

{% if mcauthfield_rolename.mcauthview %}
$("#rolename_upd").val(resp.ins.rolename);
{% endif %}

{% if mcauthfield_permkwkwissionname.mcauthview %}
$("#permkwkwissionname_upd").val(resp.ins.permkwkwissionname);
{% endif %}

{% if mcauthfield_createtime.mcauthview %}
$("#createtime_upd").val(resp.ins.createtime);
{% endif %}

{% if mcauthfield_updatetime.mcauthview %}
$("#updatetime_upd").val(resp.ins.updatetime);
{% endif %}

{% if mcauthfield_isactive.mcauthview %}
$("#isactive_upd").val(resp.ins.isactive);
{% endif %}

{% if mcauthfield_description.mcauthview %}
$("#description_upd").val(resp.ins.description);
{% endif %}

},
error: err => {
},
complete: res => {
},
})
});
};
function upd(_id){
let data = {
optype:'get',
_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value,

{% if mcauthfield_userid.mcauthchange %}
userid:$("#userid_upd]").val(),
{% endif %}

{% if mcauthfield_permkwkwissionid.mcauthchange %}
permkwkwissionid:$("#permkwkwissionid_upd]").val(),
{% endif %}

{% if mcauthfield_rolename.mcauthchange %}
rolename:$("#rolename_upd]").val(),
{% endif %}

{% if mcauthfield_permkwkwissionname.mcauthchange %}
permkwkwissionname:$("#permkwkwissionname_upd]").val(),
{% endif %}

{% if mcauthfield_createtime.mcauthchange %}
createtime:$("#createtime_upd]").val(),
{% endif %}

{% if mcauthfield_updatetime.mcauthchange %}
updatetime:$("#updatetime_upd]").val(),
{% endif %}

{% if mcauthfield_isactive.mcauthchange %}
isactive:$("#isactive_upd]").val(),
{% endif %}

{% if mcauthfield_description.mcauthchange %}
description:$("#description_upd]").val(),
{% endif %}

}
$.ajax({
url: '/config_busi/userpermkwkwission',
method: 'post',
data: data,
dataType: 'json',
success: resp => {
console.log(resp);
},
error: err => {
},
complete: res => {
},
})
};
if (document.getElementById("modalpreview")) {
document.getElementById("modalpreview").addEventListener("show.bs.modal",event=>{
let _id = event.relatedTarget.getAttribute('data-bs-data');
$("input[data-name=update_id]").val(_id);
$.ajax({
url: '/config_busi/userpermkwkwission',
method: 'post',
data: {optype:'get',_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value}, // JSON.stringify(data),
dataType: 'json',
success: resp => {



{% if mcauthfield_userid.mcauthview %}
document.getElementById("userid_view").innerHTML=resp.ins.userid;
{% endif %}




{% if mcauthfield_permkwkwissionid.mcauthview %}
document.getElementById("permkwkwissionid_view").innerHTML=resp.ins.permkwkwissionid;
{% endif %}




{% if mcauthfield_rolename.mcauthview %}
document.getElementById("rolename_view").innerHTML=resp.ins.rolename;
{% endif %}




{% if mcauthfield_permkwkwissionname.mcauthview %}
document.getElementById("permkwkwissionname_view").innerHTML=resp.ins.permkwkwissionname;
{% endif %}




{% if mcauthfield_createtime.mcauthview %}
document.getElementById("createtime_view").innerHTML=resp.ins.createtime;
{% endif %}




{% if mcauthfield_updatetime.mcauthview %}
document.getElementById("updatetime_view").innerHTML=resp.ins.updatetime;
{% endif %}




{% if mcauthfield_isactive.mcauthview %}
document.getElementById("isactive_view").innerHTML=resp.ins.isactive;
{% endif %}




{% if mcauthfield_description.mcauthview %}
document.getElementById("description_view").innerHTML=resp.ins.description;
{% endif %}


},
error: err => {
},
complete: res => {
},
})
});
};
if (document.getElementById("modalremove")) {
document.getElementById("modalremove").addEventListener("show.bs.modal",event=>{
let _id = event.relatedTarget.getAttribute('data-bs-data');
$("input[data-name=remove]").val(_id);
});
};
function del(_id){
$.ajax({
url: '/config_busi/userpermkwkwission',
method: 'post',
data: {optype:'del',_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value}, // JSON.stringify(data),
dataType: 'json',
success: resp => {
console.log(resp);
},
error: err => {
},
complete: res => {
},
})
};
</script>
{% endblock %}
