{% extends 'tp.html' %}

{% block title %}
基于深度学习的文案语音图片视频管理分析-视频矩阵系统

{% endblock %}
{% block header-image %}

{% endblock %}

{% block body %}

<h1 hidden>
    标注-用于区分表名
视频水印信息表
</h1>

<div class="container my-container-margin">
    <div class="row">
        <div class="col s6">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                视频水印信息表

            </ul>
        </div>
    </div>
</div>
<div class="container my-container-margin">
    <div class="tab-content" id="myTabContent">
        
<div class="tab-pane fade show " id="t-8385-tab-pane" role="tabpanel" aria-labelledby="t-8385-tab" tabindex="0">
视频信息表
<div>
<a href="/config_busi/videoinfo" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8386-tab-pane" role="tabpanel" aria-labelledby="t-8386-tab" tabindex="0">
视频分类表
<div>
<a href="/config_busi/videocategkwkwory" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8387-tab-pane" role="tabpanel" aria-labelledby="t-8387-tab" tabindex="0">
视频标签表
<div>
<a href="/config_busi/videotag" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8388-tab-pane" role="tabpanel" aria-labelledby="t-8388-tab" tabindex="0">
视频文件存储表
<div>
<a href="/config_busi/videofilestkwkworage" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8389-tab-pane" role="tabpanel" aria-labelledby="t-8389-tab" tabindex="0">
视频播放记录表
<div>
<a href="/config_busi/videoplayreckwkword" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8390-tab-pane" role="tabpanel" aria-labelledby="t-8390-tab" tabindex="0">
视频评论表
<div>
<a href="/config_busi/videocomment" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8391-tab-pane" role="tabpanel" aria-labelledby="t-8391-tab" tabindex="0">
视频点赞表
<div>
<a href="/config_busi/videolike" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8392-tab-pane" role="tabpanel" aria-labelledby="t-8392-tab" tabindex="0">
视频分享表
<div>
<a href="/config_busi/videoshare" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8393-tab-pane" role="tabpanel" aria-labelledby="t-8393-tab" tabindex="0">
视频观看时长统计表
<div>
<a href="/config_busi/videoviewduration" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8394-tab-pane" role="tabpanel" aria-labelledby="t-8394-tab" tabindex="0">
视频上传用户表
<div>
<a href="/config_busi/videouploader" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8395-tab-pane" role="tabpanel" aria-labelledby="t-8395-tab" tabindex="0">
用户信息表
<div>
<a href="/config_busi/userinfo" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8396-tab-pane" role="tabpanel" aria-labelledby="t-8396-tab" tabindex="0">
用户权限表
<div>
<a href="/config_busi/userpermkwkwission" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8397-tab-pane" role="tabpanel" aria-labelledby="t-8397-tab" tabindex="0">
用户观看历史表
<div>
<a href="/config_busi/userwatchhkwkwistkwkwory" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8398-tab-pane" role="tabpanel" aria-labelledby="t-8398-tab" tabindex="0">
视频审核状态表
<div>
<a href="/config_busi/videoauditstatus" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8399-tab-pane" role="tabpanel" aria-labelledby="t-8399-tab" tabindex="0">
视频封面图片表
<div>
<a href="/config_busi/videocoverimage" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8400-tab-pane" role="tabpanel" aria-labelledby="t-8400-tab" tabindex="0">
视频矩阵配置表
<div>
<a href="/config_busi/videomatrixconfig" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8401-tab-pane" role="tabpanel" aria-labelledby="t-8401-tab" tabindex="0">
视频矩阵节点表
<div>
<a href="/config_busi/videomatrixnode" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8402-tab-pane" role="tabpanel" aria-labelledby="t-8402-tab" tabindex="0">
视频矩阵播放记录表
<div>
<a href="/config_busi/videomatrixplayreckwkword" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8403-tab-pane" role="tabpanel" aria-labelledby="t-8403-tab" tabindex="0">
视频关联内容表
<div>
<a href="/config_busi/videorelatedcontent" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8404-tab-pane" role="tabpanel" aria-labelledby="t-8404-tab" tabindex="0">
视频错误日志表
<div>
<a href="/config_busi/videoerrkwkworlog" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8405-tab-pane" role="tabpanel" aria-labelledby="t-8405-tab" tabindex="0">
视频热度统计表
<div>
<a href="/config_busi/videopopularity" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8406-tab-pane" role="tabpanel" aria-labelledby="t-8406-tab" tabindex="0">
视频推荐算法参数表
<div>
<a href="/config_busi/videorecommendationparams" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8407-tab-pane" role="tabpanel" aria-labelledby="t-8407-tab" tabindex="0">
视频广告信息表
<div>
<a href="/config_busi/videoadinfo" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8408-tab-pane" role="tabpanel" aria-labelledby="t-8408-tab" tabindex="0">
视频广告播放记录表
<div>
<a href="/config_busi/videoadplayreckwkword" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8409-tab-pane" role="tabpanel" aria-labelledby="t-8409-tab" tabindex="0">
视频弹幕表
<div>
<a href="/config_busi/videodanmu" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8410-tab-pane" role="tabpanel" aria-labelledby="t-8410-tab" tabindex="0">
视频弹幕屏蔽词表
<div>
<a href="/config_busi/videodanmublockwkwkwords" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8411-tab-pane" role="tabpanel" aria-labelledby="t-8411-tab" tabindex="0">
视频多语言字幕表
<div>
<a href="/config_busi/videomultilkwkwingualsubtitles" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8412-tab-pane" role="tabpanel" aria-labelledby="t-8412-tab" tabindex="0">
视频转码任务表
<div>
<a href="/config_busi/videotranscodkwkwingtkwkwask" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8413-tab-pane" role="tabpanel" aria-labelledby="t-8413-tab" tabindex="0">
视频分析指标表
<div>
<a href="/config_busi/videoanalyskwkwismetrics" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8414-tab-pane" role="tabpanel" aria-labelledby="t-8414-tab" tabindex="0">
视频质量评估表
<div>
<a href="/config_busi/videoqualityassessment" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8415-tab-pane" role="tabpanel" aria-labelledby="t-8415-tab" tabindex="0">
视频水印信息表
<div>
<a href="/config_busi/videowatermarkinfo" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8416-tab-pane" role="tabpanel" aria-labelledby="t-8416-tab" tabindex="0">
视频版权信息表
<div>
<a href="/config_busi/videocopyrightinfo" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-8417-tab-pane" role="tabpanel" aria-labelledby="t-8417-tab" tabindex="0">
系统管理员
<div>
<a href="/config_busi/supermanager" target="_blank">
查看数据
</a>
</div>
</div>


    </div>
</div>


        {% if mcauthfield_videoid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="videoid" class="form-label form-group">视频ID关联视频</label>

<select class="form-select form-select-lg mb-3" name="videoid" id="videoid" {% if not mcauthfield_videoid.mcisblank %}required {% endif %} data-name="insert"> <option value="" selected>未选择</option> {% for record in data_mc_videoinfo_58170 %} 
<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>
 {% endfor %}
</select>

</div>
        {% endif %}

        {% if mcauthfield_watermarktext.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="watermarktext" class="form-label form-group">水印文本</label>

<textarea class="form-control form-control-lg" name="watermarktext" id="watermarktext" {% if not mcauthfield_watermarktext.mcisblank %}required {% endif %}data-name="insert"></textarea>

</div>
        {% endif %}

        {% if mcauthfield_watermarkposition.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="watermarkposition" class="form-label form-group">水印位置如左上角、右下角等</label>

<input type="text" class="form-control form-control-lg" name="watermarkposition" id="watermarkposition"{% if not mcauthfield_watermarkposition.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_watermarksize.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="watermarksize" class="form-label form-group">水印大小如百分比或像素值</label>

<input type="text" class="form-control form-control-lg" name="watermarksize" id="watermarksize"{% if not mcauthfield_watermarksize.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_watermarkopacity.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="watermarkopacity" class="form-label form-group">水印透明度0100%</label>

<input type="text" class="form-control form-control-lg" name="watermarkopacity" id="watermarkopacity"{% if not mcauthfield_watermarkopacity.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_createdat.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="createdat" class="form-label form-group">创建时间</label>

</div>
        {% endif %}

        {% if mcauthfield_updatedat.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="updatedat" class="form-label form-group">更新时间</label>

</div>
        {% endif %}

        {% if mcauthfield_kwkwisactive.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="kwkwisactive" class="form-label form-group">是否激活用于控制水印是否生效如0为未激活1为激活</label>

<select class="form-select form-select-lg mb-3" name="kwkwisactive" id="kwkwisactive" {% if not mcauthfield_kwkwisactive.mcisblank %}required {% endif %} data-name="insert">
<option value="True" selected >是</option>
<option value="False">否</option>
</select>

</div>
        {% endif %}

{% endblock %}

{% block footer %}

CopyRight ©基于深度学习的文案语音图片视频管理分析-视频矩阵系统 vm790_bcfe8a202787453d

{% endblock %}

{% block script-footer %}

{% endblock %}

