<style>.default-echart-border{
    color: #f7a4ab;
    border-color: #2d423c;
    font-size: 1.9rem;
    font-weight: 300;
    font-style: normal;
    border: 1px solid rgba(255, 99, 132, 1);
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px rgba(54, 162, 235, 1);
    padding: 4px;
    background-color: #a2a3f2;
}.btn{
    color: #9ebfb1;
    border-color: #132342;
    font-size: 1.7rem;
    font-weight: 500;
    font-style: normal;
    border: 1px solid rgba(255, 206, 86, 1);
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px rgba(255, 159, 64, 1);
    padding: 0;
    background-color: #f5d5f9;
}.my-header{
    color: black;
    border-color: #00373c;
    font-size: 1.7rem;
    font-weight: 500;
    font-style: italic;
    border: 1px solid rgba(255, 206, 86, 1);
    margin: 1px;
    border-radius: 5px;
    box-shadow: 2px rgba(75, 192, 192, 1);
    padding: 0;
    background-color: white;
}.my-container-margin{
    color: #e7e8b4;
    border-color: #121811;
    font-size: 2rem;
    font-weight: 100;
    font-style: oblique;
    border: 1px solid rgba(75, 192, 192, 1);
    margin: 2px;
    border-radius: 2px;
    box-shadow: 3px rgba(153, 102, 255, 1);
    padding: 1px;
    background-color: #abc7f4;
}.table{
    color: #91dffc;
    border-color: #55311e;
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 10px;
    border-radius: 12px;
    box-shadow: 1px rgba(255, 206, 86, 1);
    padding: 2px;
    background-color: #c6cae7;
}.form-control{
    color: #f5f9af;
    border-color: #443342;
    font-size: 2rem;
    font-weight: 300;
    font-style: oblique;
    border: 1px solid rgba(255, 206, 86, 1);
    margin: 1px;
    border-radius: 6px;
    box-shadow: 2px rgba(75, 192, 192, 1);
    padding: 4px;
    background-color: #c7f8e9;
}.form-control-label{
    color: #a1f2a6;
    border-color: #32511b;
    font-size: 2rem;
    font-weight: 200;
    font-style: normal;
    border: 1px solid rgba(75, 192, 192, 1);
    margin: 8px;
    border-radius: 0;
    box-shadow: 2px rgba(54, 162, 235, 1);
    padding: 4px;
    background-color: #bb9aa7;
}.form-control-input{
    color: #9ec2f6;
    border-color: #1e4051;
    font-size: 1.4rem;
    font-weight: 700;
    font-style: normal;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 10px;
    border-radius: 7px;
    box-shadow: 3px rgba(153, 102, 255, 1);
    padding: 2px;
    background-color: #cf9bf0;
}</style>