<style>.default-echart-border{
    color: #edc3eb;
    border-color: #464b07;
    font-size: 2.3rem;
    font-weight: 300;
    font-style: oblique;
    border: 1px solid rgba(255, 99, 132, 1);
    margin: 7px;
    border-radius: 5px;
    box-shadow: 3px rgba(255, 99, 132, 1);
    padding: 1px;
    background-color: #bdf4c4;
}.btn{
    color: #949bf1;
    border-color: #422824;
    font-size: 2.5rem;
    font-weight: 300;
    font-style: italic;
    border: 1px solid rgba(255, 159, 64, 1);
    margin: 4px;
    border-radius: 7px;
    box-shadow: 0px rgba(255, 159, 64, 1);
    padding: 4px;
    background-color: #e7e2be;
}.my-header{
    color: black;
    border-color: #411a23;
    font-size: 1.8rem;
    font-weight: 600;
    font-style: normal;
    border: 1px solid rgba(75, 192, 192, 1);
    margin: 1px;
    border-radius: 1px;
    box-shadow: 1px rgba(255, 159, 64, 1);
    padding: 0;
    background-color: white;
}.my-container-margin{
    color: #bdd4b8;
    border-color: #34201d;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    border: 1px solid rgba(255, 159, 64, 1);
    margin: 8px;
    border-radius: 12px;
    box-shadow: 3px rgba(255, 159, 64, 1);
    padding: 4px;
    background-color: #a3d9df;
}.table{
    color: #a9fba8;
    border-color: #253311;
    font-size: 2.4rem;
    font-weight: 800;
    font-style: normal;
    border: 1px solid rgba(255, 206, 86, 1);
    margin: 1px;
    border-radius: 2px;
    box-shadow: 0px rgba(153, 102, 255, 1);
    padding: 0;
    background-color: #d7e1d0;
}.form-control{
    color: #abd4cf;
    border-color: #3f2920;
    font-size: 0.7rem;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(255, 159, 64, 1);
    margin: 4px;
    border-radius: 12px;
    box-shadow: 2px rgba(255, 206, 86, 1);
    padding: 3px;
    background-color: #d0ff99;
}.form-control-label{
    color: #b7f6de;
    border-color: #352452;
    font-size: 2.3rem;
    font-weight: 600;
    font-style: oblique;
    border: 1px solid rgba(75, 192, 192, 1);
    margin: 0;
    border-radius: 8px;
    box-shadow: 3px rgba(75, 192, 192, 1);
    padding: 3px;
    background-color: #96f8da;
}.form-control-input{
    color: #dbe793;
    border-color: #442017;
    font-size: 2.2rem;
    font-weight: 800;
    font-style: normal;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 10px;
    border-radius: 12px;
    box-shadow: 2px rgba(153, 102, 255, 1);
    padding: 3px;
    background-color: #c3d0ee;
}</style>