
<h1>
语法介绍：
</h1>
<p>
参考下述格式，以及附带的模板，实现自定义表格内容展示
</p>
<p>
默认使用系统提供的接口展示所有的字段和数值，需要定制的可以在此基础上做修改
</p>
{% if ins%}
<table class="table table-bordered table-hover table-striped text-nowrap">
<thead>
<tr>

<th class="text-nowrap-cell">
视频广告ID
</th>

<th class="text-nowrap-cell">
广告标题
</th>

<th class="text-nowrap-cell">
广告描述
</th>

<th class="text-nowrap-cell">
开始时间
</th>

<th class="text-nowrap-cell">
结束时间
</th>

<th class="text-nowrap-cell">
视频链接
</th>

<th class="text-nowrap-cell">
缩略图链接
</th>

<th class="text-nowrap-cell">
广告主ID
</th>

<th class="text-nowrap-cell">
广告分类ID
</th>

<th class="text-nowrap-cell">
广告状态
</th>

<th>
<span class="text-nowrap">
操作
</span>
</th>
</tr>
</thead>
<tbody>
{% for record in ins.records%}
<tr>

<td class="text-nowrap-cell">
<span title="{{record.videoadid}}">
{{record.videoadid|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.title}}">
{{record.title|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.description}}">
{{record.description|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.starttime}}">
{{record.starttime|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.endtime}}">
{{record.endtime|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.videourl}}">
{{record.videourl|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.thumbnailurl}}">
{{record.thumbnailurl|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.advertkwkwiserid}}">
{{record.advertkwkwiserid|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.categkwkworyid}}">
{{record.categkwkworyid|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.status}}">
{{record.status|truncatechars:20}}
</span>
</td>

<td>
<a href="/config_busi/videoadinfo?id_search={{record..id}}" class="btn btn-sm btn-primary">
详情
</a>
</td>
</tr>
{% endfor%}
</tbody>
</table>
{% else%}
<h3>
Empty Data
</h3>
{% endif%}

In table....