
<h1>
语法介绍：
</h1>
<p>
参考下述格式，以及附带的模板，实现自定义表格内容展示
</p>
<p>
默认使用系统提供的接口展示所有的字段和数值，需要定制的可以在此基础上做修改
</p>
{% if ins%}
<table class="table table-bordered table-hover table-striped text-nowrap">
<thead>
<tr>

<th class="text-nowrap-cell">
视频ID关联视频信息
</th>

<th class="text-nowrap-cell">
用户ID关联用户信息
</th>

<th class="text-nowrap-cell">
播放开始时间
</th>

<th class="text-nowrap-cell">
播放结束时间
</th>

<th class="text-nowrap-cell">
播放时长秒
</th>

<th class="text-nowrap-cell">
播放状态如已完成、暂停、中断
</th>

<th class="text-nowrap-cell">
设备类型如手机、平板、电脑
</th>

<th class="text-nowrap-cell">
IP地址
</th>

<th class="text-nowrap-cell">
播放位置可选根据IP解析的地理位置
</th>

<th>
<span class="text-nowrap">
操作
</span>
</th>
</tr>
</thead>
<tbody>
{% for record in ins.records%}
<tr>

<td class="text-nowrap-cell">
<span title="{{record.videoid}}">
{{record.videoid|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.userid}}">
{{record.userid|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.playstarttime}}">
{{record.playstarttime|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.playendtime}}">
{{record.playendtime|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.playduration}}">
{{record.playduration|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.playstatus}}">
{{record.playstatus|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.devicetype}}">
{{record.devicetype|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.ipaddress}}">
{{record.ipaddress|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.location}}">
{{record.location|truncatechars:20}}
</span>
</td>

<td>
<a href="/config_busi/videoplayreckwkword?id_search={{record..id}}" class="btn btn-sm btn-primary">
详情
</a>
</td>
</tr>
{% endfor%}
</tbody>
</table>
{% else%}
<h3>
Empty Data
</h3>
{% endif%}

In table....