
<h1>
语法介绍：
</h1>
<p>
参考下述格式，以及附带的模板，实现自定义表格内容展示
</p>
<p>
默认使用系统提供的接口展示所有的字段和数值，需要定制的可以在此基础上做修改
</p>
{% if ins%}
<table class="table table-bordered table-hover table-striped text-nowrap">
<thead>
<tr>

<th class="text-nowrap-cell">
视频唯一标识符关联视频
</th>

<th class="text-nowrap-cell">
弹幕内容
</th>

<th class="text-nowrap-cell">
发送弹幕的用户唯一标识符关联用户
</th>

<th class="text-nowrap-cell">
发送时间
</th>

<th class="text-nowrap-cell">
弹幕颜色
</th>

<th class="text-nowrap-cell">
字体大小
</th>

<th class="text-nowrap-cell">
是否可见用于控制弹幕的显示与隐藏
</th>

<th class="text-nowrap-cell">
弹幕位置如顶部、底部、滚动等
</th>

<th class="text-nowrap-cell">
弹幕显示时长秒
</th>

<th>
<span class="text-nowrap">
操作
</span>
</th>
</tr>
</thead>
<tbody>
{% for record in ins.records%}
<tr>

<td class="text-nowrap-cell">
<span title="{{record.videoid}}">
{{record.videoid|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.danmucontent}}">
{{record.danmucontent|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.userid}}">
{{record.userid|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.sendtime}}">
{{record.sendtime|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.colkwkwor}}">
{{record.colkwkwor|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.fontsize}}">
{{record.fontsize|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.kwkwisvkwkwisible}}">
{{record.kwkwisvkwkwisible|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.position}}">
{{record.position|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.duration}}">
{{record.duration|truncatechars:20}}
</span>
</td>

<td>
<a href="/config_busi/videodanmu?id_search={{record..id}}" class="btn btn-sm btn-primary">
详情
</a>
</td>
</tr>
{% endfor%}
</tbody>
</table>
{% else%}
<h3>
Empty Data
</h3>
{% endif%}

In table....