
<h1>
语法介绍：
</h1>
<p>
参考下述格式，以及附带的模板，实现自定义表格内容展示
</p>
<p>
默认使用系统提供的接口展示所有的字段和数值，需要定制的可以在此基础上做修改
</p>
{% if ins%}
<table class="table table-bordered table-hover table-striped text-nowrap">
<thead>
<tr>

<th class="text-nowrap-cell">
视频ID关联视频
</th>

<th class="text-nowrap-cell">
矩阵ID关联视频矩阵
</th>

<th class="text-nowrap-cell">
播放时间
</th>

<th class="text-nowrap-cell">
播放时长秒
</th>

<th class="text-nowrap-cell">
用户ID关联用户
</th>

<th class="text-nowrap-cell">
设备ID关联设备
</th>

<th class="text-nowrap-cell">
播放状态如成功、失败、中断等
</th>

<th class="text-nowrap-cell">
播放请求的IP地址
</th>

<th>
<span class="text-nowrap">
操作
</span>
</th>
</tr>
</thead>
<tbody>
{% for record in ins.records%}
<tr>

<td class="text-nowrap-cell">
<span title="{{record.videoid}}">
{{record.videoid|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.matrixid}}">
{{record.matrixid|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.playtime}}">
{{record.playtime|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.playduration}}">
{{record.playduration|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.userid}}">
{{record.userid|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.deviceid}}">
{{record.deviceid|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.playstatus}}">
{{record.playstatus|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.ipaddress}}">
{{record.ipaddress|truncatechars:20}}
</span>
</td>

<td>
<a href="/config_busi/videomatrixplayreckwkword?id_search={{record..id}}" class="btn btn-sm btn-primary">
详情
</a>
</td>
</tr>
{% endfor%}
</tbody>
</table>
{% else%}
<h3>
Empty Data
</h3>
{% endif%}

In table....