
<h1>
语法介绍：
</h1>
<p>
参考下述格式，以及附带的模板，实现自定义表格内容展示
</p>
<p>
默认使用系统提供的接口展示所有的字段和数值，需要定制的可以在此基础上做修改
</p>
{% if ins%}
<table class="table table-bordered table-hover table-striped text-nowrap">
<thead>
<tr>

<th class="text-nowrap-cell">
关联视频ID
</th>

<th class="text-nowrap-cell">
质量评分
</th>

<th class="text-nowrap-cell">
评估时间
</th>

<th class="text-nowrap-cell">
关联评审员ID
</th>

<th class="text-nowrap-cell">
帧率
</th>

<th class="text-nowrap-cell">
分辨率
</th>

<th class="text-nowrap-cell">
比特率
</th>

<th class="text-nowrap-cell">
编码格式
</th>

<th class="text-nowrap-cell">
是否检测到损坏
</th>

<th class="text-nowrap-cell">
相关问题ID
</th>

<th>
<span class="text-nowrap">
操作
</span>
</th>
</tr>
</thead>
<tbody>
{% for record in ins.records%}
<tr>

<td class="text-nowrap-cell">
<span title="{{record.videoid}}">
{{record.videoid|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.qualitysckwkwore}}">
{{record.qualitysckwkwore|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.kwkwassessmenttime}}">
{{record.kwkwassessmenttime|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.reviewerid}}">
{{record.reviewerid|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.framerate}}">
{{record.framerate|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.resolution}}">
{{record.resolution|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.bitrate}}">
{{record.bitrate|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.encodkwkwingkwkwfkwkwormat}}">
{{record.encodkwkwingkwkwfkwkwormat|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.ckwkworruptiondetected}}">
{{record.ckwkworruptiondetected|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.relatedkwkwissueid}}">
{{record.relatedkwkwissueid|truncatechars:20}}
</span>
</td>

<td>
<a href="/config_busi/videoqualityassessment?id_search={{record..id}}" class="btn btn-sm btn-primary">
详情
</a>
</td>
</tr>
{% endfor%}
</tbody>
</table>
{% else%}
<h3>
Empty Data
</h3>
{% endif%}

In table....